/* body{
    background-color: bisque;
} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

header{
    background-color: #FFF8F3;
    padding: 50px;
    background: url(../images/developer.png),url(../images/header_bg.png),#FFF8F3;
    background-position: top left, bottom right;
    background-repeat: no-repeat;
}

nav{
    width: 71%;
    max-width: 1140px;
    /* border: 1px solid black; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo h2{
    font-size: 45px;
    font-weight: 700;
}

.color-orange{
    color: #FD6E0A;
}

nav .menu{
    list-style-type: none;
    gap: 51px;
    display: flex;
    align-items: center;
}

nav .menu a{
    text-decoration: none;
    font-size: 20px;
    color: #474747;
}

.btn{
    background-color: #FD6E0A;
    color: white;
    border: none;
    padding: 18px 35px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}


/* banner start */

#banner{
    display: flex;
    margin: 47px 38px 0 230px;
    justify-content: center;
    align-items: center;
}

#banner .banner-content h2{
    color: #474747;
    font-size: 45px;
    font-weight: 600px;
    margin-bottom:5px ;
}

#banner .banner-content{
    max-width: 585px;
}

#banner .banner-content h1{
    color: #181818;
    font-size: 85px;
    font-weight:bold;
    margin-bottom:20px ;
}

#banner .banner-content p{
    color:#757575;
    font-size: 18px;
    margin-bottom:20px ;
    line-height: 30px;
}


#banner .banner-image img {
    max-width: 585px;
    /* vertical-align: bottom; */
      line-height: 0;

}


